<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>Advertisements</h1>

      <ul>
        <% advertisements.forEach((advertisement) => { %>
          <li>
            <%= advertisement.title %>
          </li>
        <% }) %>
      </ul>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
