<head>
  <% include ./partials/head.ejs %>
</head>

<body>
  <% include ./partials/navbar.ejs %>

  <main class="container">
    <header class="jumbotron my-4">
      <h1>About Us</h1>
    </header>
  </main>
</body>

<% include ./partials/baseScripts.ejs %>
