<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1 style="color:<%= flair.color %>"><%= flair.name %></h1>

      <a href="/flairs">
        <button>Return to all Flairs</button>
      </a>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
